<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单</title>
    <script src="../../前端库/vue.min.js"></script>
    <style>

    </style>
</head>

<body>
    <div class="app">
        {{form}}
        <form action="" v-model='form'>
            用户名:<input type="text" v-model='form.username'><br>
            性别:<input type="radio" value="男" v-model='form.gender'>男
            <input type="radio" value="女" v-model='form.gender'>女 <br>
            爱好:<input type="checkbox" value="唱歌" v-model='form.hobby'>唱歌
            <input type="checkbox" value="跳舞" v-model='form.hobby'>跳舞
            <input type="checkbox" value="篮球" v-model='form.hobby'>篮球 <br>
            地址:<select multiple v-model='form.address'>
                <option :value="item.name" v-for='item in adr' :key='item.id'>{{item.name}}</option>
            </select>
        </form>
    </div>
    <script>
        new Vue({
            el: '.app',
            data: {
                form: {
                    hobby: [],
                    address: []
                },
                adr: [{
                    id: 1,
                    name: '山西'
                }, {
                    id: 2,
                    name: '江苏'
                }, {
                    id: 3,
                    name: '上海'
                }]
            },
            methods: {

            }
        })
    </script>
</body>

</html>